INFORME/informe.aux
INFORME/informe.bbl
INFORME/informe.fdb_latexmk
INFORME/informe.fls
INFORME/informe.log
INFORME/informe.out
INFORME/informe.pdf
INFORME/informe.synctex.gz
INFORME/informe.toc
INFORME/build


